.category-title {
    color: black;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    border: none;
    background-color: transparent;
}

.category-container {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.category-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.category-title:hover {
    cursor: pointer;
}